@using Microsoft.AspNetCore.Identity
@using DDAC_System.Areas.Identity.Data

@inject SignInManager<DDAC_SystemUser> SignInManager
@inject UserManager<DDAC_SystemUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <center>
        <br>
        <br>
        <p class="h4">
            Thank you for logging into Class System @UserManager.GetUserName(User)!
        </p>
        <br>
        <p class="h5">Here are your list of functionality</p>
        <br>
        <br>
    </center>
    @if (User.IsInRole("Admin"))
    {
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Class Control</h5>
                <h6 class="card-subtitle mb-2 text-muted">Manage Classes</h6>
                <p class="card-text">Create, Edit, Delete or List detials of all Classes</p>
                <a class="card-link" asp-area="" asp-controller="AcademicClass" asp-action="Index">Class Control</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin Creation</h5>
                <h6 class="card-subtitle mb-2 text-muted">Add Administrator</h6>
                <p class="card-text">Register new administrator accounts</p>
                <a class="card-link" asp-area="Identity" asp-page="/Account/RegisterAdmin">Register New Admin</a>
            </div>
        </div>
    </div>
    }
    else @if (User.IsInRole("Teacher"))
{
<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Assignment Control</h5>
            <h6 class="card-subtitle mb-2 text-muted">Manage Assignments</h6>
            <p class="card-text">Create, Edit, Delete or List details of all Assignments</p>
            <a class="card-link" asp-area="" asp-controller="Assignment" asp-action="Index">Assignments</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Classes</h5>
            <h6 class="card-subtitle mb-2 text-muted">View Classes</h6>
            <p class="card-text">View all Classes registered for this semester</p>
            <a class="card-link" asp-area="" asp-controller="AcademicClass" asp-action="Index">Classes</a>
        </div>
    </div>
</div>
}
else
{
<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Assignments</h5>
            <h6 class="card-subtitle mb-2 text-muted">Submit Assignments</h6>
            <p class="card-text">View All Assignments and submit your work</p>
            <a class="card-link" asp-area="" asp-controller="Assignment" asp-action="Index">Assignments</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Classes</h5>
            <h6 class="card-subtitle mb-2 text-muted">View Classes</h6>
            <p class="card-text">View all Classes registered for this semester</p>
            <a class="card-link" asp-area="" asp-controller="AcademicClass" asp-action="Index">Classes</a>
        </div>
    </div>
</div>
}
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to the Class System</h1>
        <p>New to the school? Click the <a asp-area="Identity" asp-page="/Account/Register">register</a> button to register your account!</p>
        <p>Already have an account? Click the <a asp-area="Identity" asp-page="/Account/Login">login</a> button! Time for school!</p>
    </div>
}
