@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Class System</h1>
    <p>New to the school? Click the <a asp-area="Identity" asp-page="/Account/Register">register</a> button to register your account!</p>
    <p>Already have an account? Click the <a asp-area="Identity" asp-page="/Account/Login">login</a> button! Time for school!</p>
</div>
